body {
    background-color: rgb(36, 33, 33);
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(236, 228, 228);
    padding: 2rem;
    border-radius: 6px;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    display: block;
}
